export TELEGRAM_BOT_TOKEN=
export TELEGRAM_CHAT_ID=
export TELEGRAM_TOPIC_ID=
export AUDIO_DEVICE=hw:0,0
export AUDIO_OUTPUT_DEVICE=hw:0,0
export TX_VOLUME_CONTROL=Master
export TX_VOLUME=75%
export RX_VOLUME_CONTROL=Mic
export RX_VOLUME=100%
